.fa-datasource-jdbc:before {
  content: "\f1c0"; }

.fa-datasource-rest:before {
  content: "\f013"; }

.fa-datasource-file:before {
  content: "\f15b"; }

.fa-datasource-es:before {
  content: "\f1c0"; }

.fa-datasource-hbase:before {
  content: "\f1c0"; }

.fa-datasource-mongo:before {
  content: "\f1c0"; }

.fa-datasource-localexcel:before {
  content: "\f016"; }
